@model _Services.Models.Property.Property_Create


<!-- Property Information -->
<h4 class="mb-4">Basic Information</h4>
<form asp-controller="Home" asp-action="SubmitNewProperty" method="post" enctype="multipart/form-data">
    <div class="row">

        <div class="col-lg-6 mb-3">
            <label for="Title">Property Title</label>
            <input type="text" id="Title" name="Title" class="form-control" placeholder="Property Title" />
        </div>

        <div class="col-lg-6 mb-3">
            <label for="Status">Status</label>
            <select id="Status" name="Status" class="form-select">
                <option>For Sale</option>
                <option>For Rent</option>
            </select>
        </div>

        <div class="col-lg-6 mb-3">
            <label for="Price">Price (USD)</label>
            <input type="text" id="Price" name="Price" class="form-control" placeholder="Price" />
        </div>

        <div class="col-lg-6 mb-3">
            <label for="Area">Area (SqFt)</label>
            <input type="text" id="Area" name="Area" class="form-control" placeholder="Area" />
        </div>

        <div class="col-lg-6 mb-3">
            <label for="Bedrooms">Bedrooms</label>
            <select id="Bedrooms" name="Bedrooms" class="form-select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>

        <div class="col-lg-6 mb-3">
            <label for="Bathrooms">Bathrooms</label>
            <select id="Bathrooms" name="Bathrooms" class="form-select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>

        <div class="col-lg-6 mb-3">
            <label for="YearBuilt">Year Built</label>
            <input type="text" id="YearBuilt" name="YearBuilt" class="form-control" placeholder="Year Built" />
        </div>

        <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <textarea class="form-control" id="Description" name="Description" rows="3" placeholder="Enter property description" required></textarea>
        </div>
    </div>

    <!-- Property Location -->
    <h4 class="my-4">Location</h4>
    <div class="row">
        <div class="col-lg-6 mb-3">
            <label for="Location">Location</label>
            <input type="text" id="Location" name="Location" class="form-control" placeholder="Location" />
        </div>

        <div class="col-lg-6 mb-3">
            <label for="City">City</label>
            <input type="text" id="City" name="City" class="form-control" placeholder="City" />
        </div>
    </div>

    <!-- Property Images -->
    <div class="mb-3">
        <label for="ImageFiles" class="form-label">Upload Property Images</label>
        <input class="form-control" type="file" id="ImageFiles" name="ImageFiles" multiple />
    </div>

    <!-- Amenities -->
    <h4 class="my-4">Amenities</h4>
    <div class="row">
        <div class="col-lg-4 mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Garage" name="Amenities.HasGarage" />
                <label class="form-check-label" for="Garage">Garage</label>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="TwoStories" name="Amenities.Two_Stories" />
                <label class="form-check-label" for="TwoStories">Two Stories</label>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="LaundryRoom" name="Amenities.Laundry_Room" />
                <label class="form-check-label" for="LaundryRoom">Laundry Room</label>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="SwimmingPool" name="Amenities.HasPool" />
                <label class="form-check-label" for="SwimmingPool">Swimming Pool</label>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Garden" name="Amenities.HasGarden" />
                <label class="form-check-label" for="Garden">Garden</label>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Elevator" name="Amenities.HasElevator" />
                <label class="form-check-label" for="Elevator">Elevator</label>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Balcony" name="Amenities.HasBalcony" />
                <label class="form-check-label" for="Balcony">Balcony</label>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Parking" name="Amenities.HasParking" />
                <label class="form-check-label" for="Parking">Parking</label>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="CentralHeating" name="Amenities.HasCentralHeating" />
                <label class="form-check-label" for="CentralHeating">Central Heating</label>
            </div>
        </div>
        <div class="col-lg-4 mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="Furnished" name="Amenities.IsFurnished" />
                <label class="form-check-label" for="Furnished">Furnished</label>
            </div>
        </div>
    </div>


    <!-- Submit Button -->
    <div class="row">
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary btn-lg">Submit Property</button>
        </div>
    </div>
</form>

@* @model _Services.Models.Property.Property_Create



    <!-- Property Images -->
    <h4 class="my-4">Images</h4>
    <div class="mb-3">
        <label for="property-images" class="form-label">Upload Property Images</label>
        <input class="form-control" type="file" id="property-images" multiple>
    </div>
*@