@* @page *@
@model MVC_Project.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Log in";
}

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-6 card rounded-3 text-black">
                <div class="card-body p-md-5 mx-md-4">
                    <div class="text-center">
                        <img src="~/assets/img/logo.jpg" style="width: 185px;" alt="logo">
                        <h4 class="mt-1 mb-5 pb-1">Welcome to GARO ESTATE</h4>
                    </div>
                    <form id="account" asp-controller="Account" asp-action="Login2" method="post">
                        <p>Please login to your account</p>
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                        <div class="form-outline mb-4">
                            <input asp-for="Email" class="form-control" autocomplete="username" placeholder="Phone number or email address" />
                            <label class="form-label" asp-for="Email">Username</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <input asp-for="Password" class="form-control" autocomplete="current-password" placeholder="Password" />
                            <label class="form-label" asp-for="Password">Password</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="text-center pt-1 mb-5 pb-1">
                            <button class="btn btn-primary btn-block gradient-custom-2 mb-3" type="submit">Log in</button>
                            @* <a class="text-muted" asp-page="./ForgotPassword">Forgot password?</a> *@
                        </div>

                        <div class="d-flex align-items-center justify-content-center pb-4">
                            <p class="mb-0 me-2">Don't have an account?</p>
                            @* <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-danger">Create new</a> *@
                            <a asp-controller="Account" asp-action="Register" class="btn btn-outline-danger">Create new</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>